<nav class="navbar navbar-default">
    <div class="container">
        <ul id="months" class="nav navbar-nav navbar-default">
            <li style="background-color:transparent;" class="nav-item"><a routerLink='home'><i class="fa fa-user fa-fw" aria-hidden="true"></i> Home</a></li>
            <li style="background-color:transparent;" class="nav-item"><a routerLink="users"><i class="fa fa-file fa-fw" aria-hidden="true"></i> Manage costs</a></li>
        </ul>
    </div>

</nav>

<router-outlet></router-outlet>
