<div class="container">
    <ul style="margin-top:20px;">
        <li style="padding:0;"><select style="width:130px;" class="form-control">
            <option>2015</option>
            <option>2016</option>
        </select>
        </li>
        <li style="cursor:pointer; cursor:hand;">January</li>
        <li style="cursor:pointer; cursor:hand;">February</li>
        <li style="cursor:pointer; cursor:hand;">March</li>
        <li style="cursor:pointer; cursor:hand;">April</li>
        <li style="cursor:pointer; cursor:hand;">May</li>
        <li style="cursor:pointer; cursor:hand;">June</li>
        <li style="cursor:pointer; cursor:hand;">July</li>
        <li style="cursor:pointer; cursor:hand;">August</li>
        <li style="cursor:pointer; cursor:hand;">September</li>
        <li style="cursor:pointer; cursor:hand;">October</li>
        <li style="cursor:pointer; cursor:hand;">November</li>
        <li style="cursor:pointer; cursor:hand;">December</li>
    </ul>
    <div class="row" style="margin-top:50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <pre style="background-color:#0081A7;text-align:center;">




                       <h1 style="color:white;">Graphic data</h1>




            </pre>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
