<div class="container">
    <table style="margin-left:auto; margin-right:auto;margin-top:40px;">
        <tr>
            <td class="td-cost"><input class="form-control" type="text" placeholder="name"></td>
            <td class="td-cost"><input class="form-control" type="text" placeholder="value"></td>
            <td class="td-cost">
                <select class="form-control" (change)="open(this.value);">
                <option value="3">Category</option>
                <option value="2">Category</option>
                <option value="1">
                    <span>dsfsdfds</span>
                    <!--<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">New category</button>-->
                    <!--<div class="modal" id="modal-1">-->
                        <!--<div class="modal-dialog">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button class="button" type="close" data-dismiss="modal">&times;</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </option>
            </select>
            </td>
            <td class="td-cost"><input class="form-control" type="text" placeholder="details"></td>
            <td><button class="btn btn-md btn-primary">Add</button></td>
        </tr>

    </table>

    <table class="table table-striped" style="width:70%; margin-left:auto; margin-right:auto;margin-top:20px;">
        <tr>
            <td><b>Name</b></td>
            <td><b>Category</b></td>
            <td><b>Value</b></td>
            <td><b>Details</b></td>
            <td><b>Actions</b></td>
        </tr>
        <tr *ngFor="let user of users; let i=index">
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>This is an ordinary cost..</td>
            <td>
                <button class="btn btn-sm btn-primary">Edit</button>
                <button (click)="delete(i)" class="btn btn-sm btn-primary">Delete {{i}}</button>
            </td>
        </tr>
    </table>
</div>